name: Release Drafter

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize, closed]
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  update-release-draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: draft release
      id: draft-release
      uses: release-drafter/release-drafter@v6
      with:
        config-name: release-drafter.yml
        disable-autolabeler: false
      env:
        GITHUB_TOKEN: ${{ github.token }}

  # only when protocol changes
  publish-release-draft:
    needs: [update-release-draft]
    if: |
      github.event_name == 'pull_request' &&
      github.event.action == 'closed' &&
      github.event.pull_request.merged == true &&
      github.event.pull_request.user.login == 'cathy-cloud[bot]' &&
      contains(github.event.pull_request.labels.*.name, 'protocol')
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: tibdex/github-app-token@v2
      id: generate-token
      with:
        app_id: ${{ secrets.CATHY_CLOUD_APP_ID }}
        private_key: ${{ secrets.CATHY_CLOUD_APP_PRIVATE_KEY }}
    - name: publish release
      env:
        GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
      run: |
        draft=$(gh release list | awk -F'\t' '/Draft/ {print $3}' | head -n1)
        gh release edit "$draft" --draft=false
