name: Update OBS websocket protocol version

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

jobs:
  update:
    name: update protocol version
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: tibdex/github-app-token@v2
      id: generate-token
      with:
        app_id: ${{ secrets.CATHY_CLOUD_APP_ID }}
        private_key: ${{ secrets.CATHY_CLOUD_APP_PRIVATE_KEY }}

    - uses: magnetikonline/action-golang-cache@v4
      with:
        go-version-file: go.mod

    - name: update version
      id: update
      env:
        GH_TOKEN: ${{ steps.generate-token.outputs.token }}
      run: |
        ./script/bump-protocol-version.sh
        ./script/update-readme-snippets.sh

    - name: create pr
      if: steps.update.outcome == 'success'
      uses: peter-evans/create-pull-request@v5
      with:
        token: ${{ steps.generate-token.outputs.token }}
        title: ${{ steps.update.outputs.message }}
        commit-message: ${{ steps.update.outputs.message }}
        branch: bump-protocol-version
        delete-branch: true
        labels: |
          ${{ steps.update.outputs.bump}}
        reviewers: |
          andreykaipov
        body: |
          There was a new v5 tag in [obsproject/obs-websocket](https://github.com/obsproject/obs-websocket).

          This PR may or may not contain any actual changes to the generated code.

    - uses: release-drafter/release-drafter@v5
      with:
        config-name: release-drafter.yml
        disable-autolabeler: true
        name: $RESOLVED_VERSION for obs-websocket
        #${{ steps.update.outputs.next_version }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
